@inherits LayoutComponentBase

<div class="page">
    <header class="m-1">
        <MainHeader/>
    </header>
    <main class="m-1">
        <article class="m-0">
            @Body
        </article>
    </main>
</div>
