<div class="columns is-vcentered">
    <div class="column">MCBrowser</div>
    <div class="column">
        <NavLink class="nav-link" href="servers/recent">
            <button class="button is-white">
                <span class="icon">
                    <i class="fa fa-clock-o"></i>
                </span>
                <span>Most recent</span>
            </button>
        </NavLink>
        <NavLink class="nav-link" href="servers/popular">
            <button class="button is-white">
                <span class="icon">
                    <i class="fa fa-star"></i>
                </span>
                <span>Popular</span>
            </button>
        </NavLink>
        <button class="button is-white">
            <span class="icon">
                <i class="fa fa-fire"></i>
            </span>
            <span>Trending</span>
        </button>
        <button class="button is-white">
            <span class="icon">
                <i class="fa fa-sliders"></i>
            </span>
            <span>Custom Search</span>
        </button>
    </div>
    <div class="column">
        <div class="buttons is-right">
            <button class="button is-primary">Login</button>
            <button class="button is-primary">Sign Up</button>
        </div>
    </div>
</div>